.breed-detail {
  display: flex;
  align-items: flex-start;
  padding-left: 10px;
}

.breed-label {
  text-align: start;
  font-weight: bolder;
  width: 110px;
}

.breed-value {
  padding-left: 10px;
}
